.myOrdersPage{
    width: 100vw;
    max-width:100%;
    padding: 5vmax;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    height: 100vh;
    flex-direction: column;
}
#myOrdersHeading{
    font: 500 2vmax "roboto";
    text-align: center;
    padding: 2vmax;
    border: 1px solid black;
    text-transform: uppercase;
    letter-spacing: 0.5vmax;
}
.myOrdersTable div{
    font: 300 1.2vmax "roboto";
}
.myOrdersTable a{
    color: rgb(56, 56, 56);
    transition:all 0.5s;
}
.myOrdersTable a:hover{
    color: tomato;
}