.homeloginBtn{
    width: clamp(6rem, 5rem + 5vw, 10rem);
    height: clamp(3rem, 2.5rem + 2.5vw, 4rem);;
    text-align: center;
    font:500 var(--button-font) "Roboto";
    color: hsl(160, 38%, 52%);
    border:1px solid hsl(160, 38%, 52%);
    background-color: transparent;
    z-index: 3;
    position: relative;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: all 0.5s;
    margin: 2vmax;
}
.homeloginBtn:hover{
    background-color: hsl(160, 38%, 52%);
    color: hsl(0, 0%, 100%);
    border:1px solid hsl(160, 38%, 52%);
}
.btnContainer{
    z-index: 3;

    position: sticky;
    display: flex;
    justify-content: end;
    align-items: start;
    top: 0;
    right: 0;
    height: 0;
    overflow: visible;
}