.ParentDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90vw;
    margin: auto;
    margin-top: 10vh;
    height: max(100vh,auto);
}
.imageBox{
    display: flex;
    height: clamp(25rem, 10vw, 100rem);
    width: 130rem;
    padding: 2rem;
    margin: 2rem;
    border-radius: 5rem;
    box-shadow: rgba(100, 100, 111, 0.627) 0px 7px 29px 0px;
}
.ProductDetails{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
}
.ProductDetails img{
    object-fit:contain;
}
.detailsBlock {
    min-height: 30rem;
    min-width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    padding: 2vmax;
    box-sizing: border-box;
}

.detailsBlock-1  {
    width: 100%;
    margin-bottom:2rem ;
}
.detailsBlock-1 > h2 {
    color: rgb(62, 62, 62);
    font: 600 2vmax "Roboto";
    text-align: left;
}
.detailsBlock-1 > p {
    color: rgb(89, 89, 89);
    font: 400 1vmax "Roboto";
    text-align: left;
}

.detailsBlock-2 {
    width: 100%;
    display: flex;
    align-items: center;
    /* font: 400 clamp(0.5rem, 3vmax, 1.5rem) "Roboto"; */
    font: 400 1.5rem "Roboto";
    border-top: 1px solid rgba(0, 0, 0, 0.264);
    border-bottom: 1px solid rgba(0, 0, 0, 0.264);
    padding: 1vmax;
}

.detailsBlock-3 > h1 {
    color: rgb(0, 0, 0);
    width:auto;
    margin: 1vmax;
    text-align: center;
    /* font: 600 clamp(1rem, 5vmax, 2rem) "Roboto"; */
    font: 600 2rem "Roboto";
}
.detailsBlock-3 {
    width: 30vmax;
}
.detailsBlock-3-1 {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.detailsBlock-3-1-1 >button{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.083);
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transition: all 0.5s;
}
.detailsBlock-3-1-1 >button:hover{
    background-color: rgba(0, 0, 0, 0.273);
}
.detailsBlock-3-1-1 >input{
    justify-self: center;
    border: none;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    height: 3vmax;
    width: 5vw;
    font: 400 1.8em "Roboto";
}
.detailsBlock-3-1-1 >input:focus{
    outline: none;
}

.detailsBlock-3-1 >button:last-child{
    border: none;
    /* font: 800 clamp(1.5rem, 2vmax, 2rem) "Roboto"; */
    font: 800 1.5rem "Roboto";
    background-color:aquamarine;
    cursor: pointer;
    height: clamp(1.5rem, 1rem + 3vmax, 6rem);
    width: clamp(9rem, 2rem + 10vmax, 10rem);
    transition: var(--transition-all-point-five);
}
.detailsBlock-3-1 >button:last-child:hover{
    background-color:rgb(109, 219, 182);
    cursor: pointer;
}

.detailsBlock-3 > p {
    margin: 2vmax;
    margin-left: 0;
    text-align: left;
    /* font: 400 clamp(1.5rem,1vmax,5rem) "Roboto"; */
    font: 400 2rem "Roboto";
}

.detailsBlock-4  {
    width: 100%;
    padding: 2vmax;
    padding-left: 0;
    font: 800 1.5rem "Roboto";
}
.detailsBlock-4 > p {
    padding: 1vmax;
    padding-left: 0;
    width: 100%;
    text-align: left;
    color: rgb(53, 53, 53);
    font: 400  1.2rem "Roboto";
}
.submitReview{
    border: 2px solid aquamarine;
    font: 800 1.5rem "Roboto";
    background-color:rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 5rem;
    width: 10rem;
    transition: var(--transition-all-point-five);
}
.submitReview:hover{
    background-color:aquamarine;
}

.CarouselImage{
    width:30vmax;
    align-self: center;
}

.revHeadings{
    text-align: center;
    padding: 2vmax;
    font: 700 1.8vmax "Roboto";
    letter-spacing: 1vmax;
    border-bottom: 1px solid rgb(53, 53, 53);
    border-top: 1px solid rgb(53, 53, 53);
}
.reviews{
    display: flex;
    overflow: auto;
}
.reviewCard{
    flex: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.264);
    border: 1px solid rgba(53, 53, 53, 0.461);
    width: 30vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vmax;
    margin: 1rem;
}
.reviewCard>h3{
    padding: 1vmax;
    color:rgba(0, 0, 0, 0.712);
    font: 600 1.5vmax "Roboto";
}
.reviewCard>p{
    padding: 1vmax;

    color:rgba(0, 0, 0, 0.862);
    font: 300 1vmax "Roboto";
}

.noReviews{
    text-align: center;
    color:rgba(0, 0, 0, 0.703);
    margin: 2vmax;
    font: 400 1.6vmax "Gill Sans";
}


.submitDialog{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.submitDialog>span{
    padding: 2vmax;
    padding-top: 0;
}
.submitDialog>textarea{
    color: rgb(93, 93, 93);
    border: 1px solid rgba(0, 0, 0, 0.474);
    outline: none;
    font:300 1rem "Roboto"
}

@media screen and (max-width: 600px) {
    .ParentDiv{
        flex-direction: column;
        align-items: center;
    }

    .ProductDetails{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: auto;
        justify-content: center;
        box-sizing:content-box;
        border:1px solid black;
    }
    .CarouselImage{
        width: 80vw;
        height: auto;
    }
    .detailsBlock-3-1{
        flex-direction: column;
    }
    .detailsBlock-1 > h2{
        font-size: 2em;
    }
    .detailsBlock-1 > p {
        font: 600 2vmax "Roboto";
    }
}