.dashboardContainer{
    width: auto;
    flex-direction: column;
    box-sizing: border-box;
}
.productListTable{
    width: 100% !important;
    box-sizing: border-box !important;
    button:disabled{
        color: rgba(0, 0, 0, 0.168);
        cursor: not-allowed !important;
    }
}
.LinkBtn{
    color: rgb(79, 79, 79) !important;
    font-size: 1rem !important; 
    width: 4rem!important;
    height: 2rem!important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.LinkBtn:disabled:hover {
    cursor: not-allowed;
  }

.LinkBtn:hover{
    color: tomato !important;
    border: 1px solid black;
}